@import './variables';

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  // font-size: 62.5%;
}

main.main {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;

  section.container {
    width: inherit;
    height: inherit;
    background: lightgrey;
    display: grid;
    grid-template-columns: auto $space $small $space $small $space $small $space $small $space auto;
    grid-template-rows: auto $medium $space $medium auto;

    .number {
      display: grid;
      grid-template-columns: $small $large $small;
      grid-template-rows: $medium repeat(5, $small) $medium;  

      &.index-0 {
        grid-area: 2 / 2 / span 4 / span 1;
      }
      &.index-1 {
        grid-area: 2 / 4 / span 4 / span 1;
      }
      &.index-2 {
        grid-area: 2 / 8 / span 4 / span 1;
      }
      &.index-3 {
        grid-area: 2 / 10 / span 4 / span 1;
      }

      ._0 {
        visibility: hidden;
        background: $color;

        &.item-1 {
          grid-area: 2 / 2 / 3 / 3;
        }
        &.item-2 {
          grid-area: 3 / 1 / 6 / 2;
        }
        &.item-3 {
          grid-area: 3 / 3 / 6 / 4;
        }
        &.item-4 {
          grid-area: 6 / 2 / 7 / 3;
        }
      }

      ._1 {
        visibility: hidden;
        background: $color;

        &.item-1 {
          grid-area: 2 / 1 / 3 / 3;
        }
        &.item-2 {
          grid-area: 3 / 3 / 7 / 4;
        }
      }

      ._2 {
        visibility: hidden;
        background: $color;

        &.item-1 {
          grid-area: 2 / 1 / 3 / 3;
        }
        &.item-2 {
          grid-area: 3 / 3 / 6 / 4;
        }
        &.item-3 {
          grid-area: 6 / 1 / 7 / 3;
        }
      }

      ._3 {
        visibility: hidden;
        background: $color;

        &.item-1 {
          grid-area: 2 / 1 / 3 / 3;
        }
        &.item-2 {
          grid-area: 4 / 1 / 5 / 3;
        }
        &.item-3 {
          grid-area: 6 / 1 / 7 / 3;
        }
        &.item-4 {
          grid-area: 3 / 3 / 6 / 4;
        }
      }

      ._4 {
        visibility: hidden;
        background: $color;

        &.item-1 {
          grid-area: 2 / 1 / 6 / 2;
        }
        &.item-2 {
          grid-area: 6 / 2 / 7 / 3;
        }
        &.item-3 {
          grid-area: 7 / 3 / 8 / 4;
        }
      }

      ._5 {
        visibility: hidden;
        background: $color;

        &.item-1 {
          grid-area: 2 / 2 / 3 / 4;
        }
        &.item-2 {
          grid-area: 3 / 1 / 6 / 2;
        }
        &.item-3 {
          grid-area: 6 / 2 / 7 / 3;
        }
        &.item-4 {
          grid-area: 7 / 3 / 8 / 4;
        }
      }

      ._6 {
        visibility: hidden;
        background: $color;

        &.item-1 {
          grid-area: 1 / 1 / 6 / 2;
        }
        &.item-2 {
          grid-area: 6 / 2 / 7 / 3;
        }
        &.item-3 {
          grid-area: 2 / 3 / 6 / 4;
        }
      }

      ._7 {
        visibility: hidden;
        background: $color;

        &.item-1 {
          grid-area: 2 / 1 / 3 / 3;
        }
        &.item-2 {
          grid-area: 3 / 3 / 8 / 4;
        }
      }

      ._8 {
        visibility: hidden;
        background: $color;

        &.item-1 {
          grid-area: 2 / 1 / 7 / 2;
        }
        &.item-2 {
          grid-area: 4 / 2 / 5 / 3;
        }
        &.item-3 {
          grid-area: 2 / 3 / 7 / 4;
        }
      }

      ._9 {
        visibility: hidden;
        background: $color;

        &.item-1 {
          grid-area: 2 / 2 / 3 / 3;
        }
        &.item-2 {
          grid-area: 3 / 1 / 7 / 2;
        }
        &.item-3 {
          grid-area: 3 / 3 / 8 / 4;
        }
      }
    }

    .colon {
      grid-area: 3 / 6 / span 1 / span 1;
      display: grid;
      grid-template-columns: $small auto $small;
      grid-template-rows: $small auto $small;
      
      .item-1 {
        background: $color;
        grid-area: 1 / 1 / 2 / 2;
      }
      .item-2 {
        background: $color;
        grid-area: 1 / 3 / 2 / 4;
      }
      .item-3 {
        background: $color;
        grid-area: 3 / 1 / 4 / 2;
      }
      .item-4 {
        background: $color;
        grid-area: 3 / 3 / 4 / 4;
      }
    }
  }
}